{% extends "layout.html" %}

{% block css %}

<style type="text/css">

	img {

		position: absolute;
		left:10px;
	}

	table {
		position: absolute;
		top:200px;
		left: 100px; 
		width:80%;
		background:#ffffff;
		font-family: Calibri;
		border: 1px solid black;
	}

	td {
		border: 1px solid black;
	}

	div {

		margin: 30px;

	}

	.block1 {

		padding-bottom: 50px;
	}


	.total {
		background:#ffffff;
		font-family: Calibri;
	}


	#key_r {

		position: absolute;
		top:420px;
		left: 1200px; 
		width:20%;
		font-family: Calibri;
		margin:50px;
	}


</style>

{% endblock%}

{% block body %}
 
<div class="block1">

	<img src="{{url_for('static', filename='MCWBusiness.jpeg')}}" width="300" height="200">

	<h2> Welcome to UC Pricing Tool MRC page</h2>

	<table>
	  <tr>
	    <th>Description</th>
	    <td></td>
	  </tr>
	   <tr>
	    <td>-</td>
	    <td>-</td>
	  </tr>
	   <tr>
	    <td>Contract Term</td>
	    <td>36</td>
	  </tr>
	   <tr>
	    <td>Mark-up</td>
	    <td>67%</td>
	  </tr>
	   <tr>
	    <td>-</td>
	    <td>-</td>
	  </tr>
	   <tr>
	    <th>Investment</th>
	    <td>-</td>
	  </tr>
	    <tr>
	    <td>-</td>
	    <td>-</td>
	  </tr>
	    <tr>
	    <th>Total Investment</th>
	    <td>-</td>
	  </tr>
	    <tr>
	    <td>-</td>
	    <td>-</td>
	  </tr>
	   <tr>
	    <td>CSI leasing rate</td>
	    <td>4%</td>
	  </tr>
	  <tr>
	    <td>-</td>
	    <td>-</td>
	  </tr>
	  <tr>
	    <th>MRC Equipment</th>
	    <th>$46.00</th>
	  </tr>
	  <tr>
	    <td>-</td>
	    <td>-</td>
	  </tr>
	</table>

	<table id="key_r"> 
	  <tr>
	    <th>Key Ratios</th>
	  </tr>
	  <tr>
	    <td>-</td>
	    <td>-</td>
	  </tr>
	   <tr>
	    <td>-</td>
	    <td>-</td>
	  </tr>
	   <tr>
	    <td>-</td>
	    <td>-</td>
	  </tr>
	    <tr>
	    <td>-</td>
	    <td>-</td>
	  </tr>
	   <tr>
	    <td>-</td>
	    <td>-</td>
	  </tr>
	</table>
</div>
{% endblock %}