
<div class="form1">
    <form>
        <div>The number of Users</div> :
        <input type="number" name="userno"/>
        <div>The number of Distribution Points</div> :
        <input type="number" name="distpt"/>
        <div>Trunk Type</div>:
        <select name = "trunktype">
            <option value = ""></option>
            <option value = ""></option>
        </select>
        <div>Number Of Trunks</div>:
        <select name = "nooftrunk">
            <option value = ""></option>
            <option value = ""></option>
        </select>
        <div>Additional Features</div> :
        <select name = "feature">
            <option value = " "></option>
        </select>
        <input type = "submit">
    </form>
</div>


