{% extends "layout.html" %}


{% block css %}

<style type="text/css">

	label {

		position: relative;
		top: 180px;
		border: 1px solid black;
		font-weight: bold;
	}

	.software {

		position: absolute;
		left: 1250px;
		width:40%;
	}

	.hardware {

		position: absolute;
		left: 100px;
		width:80%;
	}

	p {

		visibility: hidden;
	}

	img {

		position: absolute;
		left:10px;
	}

	table {
		position: absolute;
		top:200px;
		left: 100px; 
		width:80%;
		background:#ffffff;
		font-family: Calibri;
		border: 2px solid black;
	}

	td {
		border: 1px solid black;
	}

	.sub_head {
		background:#aa79dc;
		border: 1px solid black;

	}


	.block1 {

		padding-bottom: 50px;
	}

	.head {

		font-family: Calibri;
		font-weight: bold;
		font-size: 14;
		color: #ffffff;
		background:#8240c6;

	}

</style>

{% endblock %}

{% block main %}

	<img src="{{url_for('static', filename='MCWBusiness.jpeg')}}" width="300" height="200">

	<h2> Welcome to UC Pricing Tool Equipments Quote page</h2>

	<label class="hardware">
		<strong>Hardware</strong>
	</label>


	<table>
	  <tr class="head">
	    <th>Description</th>
	    <th rowspan="2">Extended MRR</th>	
	    <th rowspan="2">Unit MRR</th>
	  </tr>
	  <tr>
	  		<th class="sub_head">Handsets/Accessories</th>
	  </tr>
	   <tr>
	  		<td>AudioCodes IP 405</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr> 
	  <tr>
	  		<td>Polycom VVX 300</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr> 
	  <tr>
	  		<td>Polycom VVX 310</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr> 
	  <tr>
	  		<td>Polycom VVX 400</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	    <tr>
	  		<td>Polycom VVX 410</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr> 
	   <tr>
	  		<td>Polycom VVX 500</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr> 
	  <tr>
	  		<td>Polycom VVX 600</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr> 
	   <tr>
	  		<td>Polycom Plug and Play Camera</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr> 
	   <tr>
	  		<td>Polycom Expansion Module (Paper Based)</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr> 
	   <tr>
	  		<td>Polycom Expansion Module (Color)</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr> 
	   <tr>
	  		<td>Polycom SoundStation IP 5000</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr> 
	   <tr>
	  		<td>Polycom SoundStation IP 7000</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr> 
	  <tr>
	  		<th class="sub_head"> Audiocodes Voice Gateways</th>
	  		<td> </td>
	  		<td> </td>
	  </tr> 
	  <tr>
	  		<td>MediaPack 112 (2FXS)</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr> 
	  <tr>
	  		<td>MediaPack 114 (4FXS)</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr> 
	  <tr>
	  		<td>MediaPack 118 (8FXS)</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>MediaPack 124 (24FXS)</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>MediaPack 114 (4FXO)</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	  <tr>
	  		<td>MediaPack 118 (8FXO)</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>MediaPack 114 (2FXS/2FXO)</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>MediaPack 118 (4FXS/4FXO)</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>Mediant 500 1 E1/T1</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>Mediant 800 60 SBC ses</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>Mediant 800 1 E1/T1 + 30 SBC ses</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>Mediant 800 2 E1/T1</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>Mediant 1000 1 E1/T1</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>Mediant 1000 1 E1/T1 + SAS (600 users)</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>Mediant 1000 2 E1/T1</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>Mediant 1000 2 E1/T1 + SAS (600 users)</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	  <tr>
	  		<td>Mediant 1000 2 E1/T1 + 30 SBC ses + 100 users survivability</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M500/MSBR/ESBC/5</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M500/MSBR/ESBC/10</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M500/MSBR/ESBC/25</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M500/MSBR/ESBC/30</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M500/MSBR/ESBC/100</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M500/MSBR/ESBC/120</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M500/MSBR/ESBC/250</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M800/ESBC/5</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M800/ESBC/10</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M800/ESBC/20</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	  <tr>
	  		<td>SW/M800/ESBC/25</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M800/ESBC/30</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M800/ESBC/50</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M800/ESBC/60</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M800/ESBC/100</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M800/ESBC/200</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M800/ESBC/250</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M1K/ESBC/5</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M1K/ESBC/25</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M1K/ESBC/60</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M1K/ESBC/100</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	  <tr>
	  		<td>SW/M500/MSBR/ESBC-REG/50 (50 SIP registrations)</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M800/ESBC-REG/50 ( 50 SIP registrations)</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M1K-ESBC-REG/100 (100 SIP Registrations)</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M500/SAS (up to 200 users)</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M800/SAS (up to 200 users)</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	   <tr>
	  		<td>SW/M1KB/SAS (up to 600 users)</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	  <tr>
	  		<th class="sub_head"> Plantronics Headsets*</th>
	  		<td> </td>
	  		<td> </td>
	  </tr> 
	  <tr>
	  		<td>Blackwire C315/ USB Corded Monoaural Headset</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr> 
	  <tr>
	  		<td>Blackwire C325/ USB Corded Binaural Headset</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	    <tr>
	  		<td>Blackwire 520 / Over the head Corded USB headset, Binaural</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	    <tr>
	  		<td>Blackwire 720 / Over the head Corded USB headset, Binaural</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	    <tr>
	  		<td>HW261N +  10' Coiled cable, QD to (2) 3. 5 MM  Stereo Jack plugs</td>
	  		<td> -</td>
	  		<td> -</td>
	  </tr>
	</table>

	<label class="software">
		<strong>Software</strong>
	</label>
	<table class="software">
		<tr class="head">
		    <th>Description</th>
		    <th>Extended MRR</th>
		    <th>Unit MRR</th>
	    </tr>
	    <tr>
	    	<th class="sub_head"> HOSTED PBX</th>
	    	<th>&nbsp;</th>
	    	<th>&nbsp;</th>
	    </tr>
	    <tr>
	    	<td>Licenciamiento Standard (Análogo)</td>
	    	<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
	    	<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
	    </tr>
	    <tr>
	    	<td>Licenciamiento Standard</td>
	    	<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
	    	<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
	    </tr>
		<tr>
			<td>Licenciamiento Business</td>
			<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
			<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
		</tr>
		<tr>
			<td>Licenciamiento Enterprise</td>
			<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
			<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
		</tr>
	    <tr>
	    	<th class="sub_head"> Contact Center</th>
	    	<th>&nbsp;</th>
	    	<th>&nbsp;</th>
	    </tr>
	    <tr>
			<td>Voice Only</td>
	    	<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
			<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
		</tr>
		<tr>
			<td>Voice Pro</td>
			<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
			<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
			
		</tr>
		<tr>
			<td>Omni Channel</td>
			<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
			<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
		</tr>
		<tr>
			<td>Omni-channel Pro</td>
			<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
			<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
		</tr>
		<tr>
			<td>ACD Agente </td>
			<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
			<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
		</tr>
		<tr>
			<td>ACD Agente Premium </td>
			<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
			<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
		</tr>
		<tr>
			<td>ACD Supervisor </td>
			<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
			<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
		</tr>
	    <tr>
	    	<th class="sub_head">INT DID - ITFS/Intersite Connectivity</th>
	    	<th>&nbsp;</th>
	    	<th>&nbsp;</th>
	    </tr>
	    <tr>
	    	<td>DID Numbers</td>
	    	<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
			<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
		</tr>
		<tr>
			<td>Llamadas Simultaneas</td>
	    	<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
			<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
		</tr>
	    <tr>
	    	<th class="sub_head">Call Accounting</th>
	    	<th>&nbsp;</th>
	    	<th>&nbsp;</th>
	    </tr>
	    <tr>
			<td>Tarificación</td>
	    	<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
			<td>$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</td>
		</tr>
	</table>
{%endblock%}